---
Standard: c++17
BasedOnStyle: LLVM

IndentWidth: 2
TabWidth: 2
AccessModifierOffset: -3
ColumnLimit: 120
UseTab: Never

AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine : true
AllowShortBlocksOnASingleLine: Always
IndentCaseLabels: true

PointerAlignment: Left

AlignTrailingComments: true
AlignConsecutiveAssignments: Consecutive

NamespaceIndentation: All
FixNamespaceComments: false

IndentPPDirectives: AfterHash

CompactNamespaces: true

BreakBeforeBraces: Custom
BraceWrapping:
  AfterStruct: false
  AfterClass: false
  AfterControlStatement: Never
  AfterNamespace: false
  AfterFunction: false
  AfterUnion: true
  AfterExternBlock: false
  AfterEnum: false
  BeforeElse: false
  SplitEmptyFunction: false
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

IncludeBlocks: Merge
